<form [formGroup]="form" class="flex-column">
  <div class="flex-column">
    <mat-form-field appearance="outline">
      <mat-select
        focused
        formControlName="conversionType"
        [compareWith]="matchByName"
      >
        <mat-option *ngFor="let conversion of conversions" [value]="conversion">
          {{ conversion.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex-row space-between mt-5">
    <div class="flex-column input-group">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>From</mat-label>
        <input
          matInput
          type="number"
          [formControl]="startingValueControl"
          required
        />
        <mat-hint>Question</mat-hint>
        <mat-error
          *ngIf="
            startingValueControl.hasError('required') ||
            startingValueControl.hasError('pattern')
          "
        >
          Please enter valid number
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mt-10">
        <mat-select formControlName="startingUnit" [compareWith]="matchById">
          <mat-option *ngFor="let unit of units" [value]="unit">
            {{ unit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="equal-sign-divider flex-column justify-content-center">=</div>

    <div class="flex-column input-group">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>To</mat-label>
        <input
          matInput
          type="number"
          [formControl]="convertedValueControl"
          required
        />
        <mat-hint>Your Guess</mat-hint>
        <mat-error
          *ngIf="
            convertedValueControl.hasError('required') ||
            convertedValueControl.hasError('pattern')
          "
        >
          Please enter valid number
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mt-10">
        <mat-select formControlName="convertedUnit" [compareWith]="matchById">
          <mat-option *ngFor="let unit of units" [value]="unit">
            {{ unit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-checkbox #displayValue class="mb-20" formControlName="showAnswer"
    >Display Correct Answer</mat-checkbox
  >
  <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
    Check
  </button>
</form>

<div
  class="mt-20 flex-column align-items-center"
  *ngIf="results | async as data"
>
  <mat-card>
    <mat-card-title *ngIf="data.error"
      >Something Went Wrong
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >mood_bad</mat-icon
      >
    </mat-card-title>
    <mat-card-title *ngIf="!data.error"
      >{{ data.isCorrect ? "Correct!" : "Incorrect" }}
      <mat-icon aria-hidden="false" aria-label="Example home icon">{{
        data.isCorrect ? "mood" : "mood_bad"
      }}</mat-icon>
    </mat-card-title>
  </mat-card>

  <mat-card class="mt-20" *ngIf="showAnswerControl.value && !data.error"
    ><mat-card-title>{{ data.answer }}</mat-card-title></mat-card
  >
</div>
