:host {
  margin-top: 10%;
  width: 300px;
  form {
    .input-group {
      width: 145px;
      .input-field {
        ::ng-deep .mat-form-field-wrapper {
          // Overriding angular material input bottom padding
          // margin-bottom: -1.2em;
        }
      }
    }
  }

  .aligned-with-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
  }

  mat-card {
    width: 100%;
    text-align: center;
    mat-icon {
      font-size: 40px;
      vertical-align: middle;
      position: relative;
      bottom: 10px;
    }
  }
}
